# -------------------- #
# Maven Build Artifacts
# -------------------- #
# The standard output directory for all Maven builds.
target/
pom.xml.tag
pom.xml.versionsBackup
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# Exclude Maven wrapper binary, but keep scripts
.mvn/wrapper/maven-wrapper.jar

# -------------------- #
# IDE-Specific Files
# -------------------- #
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
*.launch
.vscode/

# Eclipse
.classpath
.project
.settings/
.buildpath

# -------------------- #
# Build and Log Output
# -------------------- #
# Compiled class files
*.class

# Jar, War, and other package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
*.nar

# General log files
*.log

# JVM crash logs
hs_err_pid*
replay_pid*

# -------------------- #
# OS and Other Files
# -------------------- #
.DS_Store
Thumbs.db
/res

# Kotlin build directories
out/

# Dokka generated documentation (standard and GitHub Pages profile)
target/dokka/
docs/

# IntelliJ Kotlin plugin metadata
.kotlin/
