<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <!-- Ensure that baseLogFileName system property is set -->
        <Property name="baseLogFileName">${sys:baseLogFileName}</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender for Main Logs -->
        <Console name="Console-Main" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%-5.5p}{FG_Cyan} [%d{HH:mm:ss} %-8.8t %-17.-17C{1} %-9M] %style{%m%n}{FG_Cyan}"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="Rolling" fileName="${baseLogFileName}" filePattern="${baseLogFileName}-%i.log" append="false">
            <PatternLayout pattern="%-5.5p [%d{HH:mm:ss} %-8.8t %-17.-17C{1} %-9M] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="20 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="debug">
            <AppenderRef ref="Console-Main"/>
            <AppenderRef ref="Rolling"/>
        </Root>
    </Loggers>
</Configuration>